<footer>
	<div class="container-footer">
		<img src="/images/global/logo.png" alt="" class="logo-footer"/>
		<ul class="col">
			<li class="titre-col-footer">Fink</li>
			<li><a href="#">Comment fonctionne Fink</a></li>
			<li>
				<a href="{{ path('home.quiz') }}">Notre quizz en ligne</a>
			</li>
			<li>
				<a href="{{ path('salon.index') }}">Nos salons partenaires</a>
			</li>
			<li>
				<a href="#">Nos tatoueurs ont du talent</a>
			</li>
		</ul>
		<ul class="col">
			<li class="titre-col-footer">Aide</li>
			{% if app.user %}
				<li>
					<a href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a>
				</li>
				<li>
					<a href="{{ path('user.edit.password', {id : app.user.id}) }}">Modifier mon mot de passe</a>
				</li>
			{% else %}
				<li>
					<a href="{{ path('security.registration') }}">S'inscrire</a>
				</li>
				<li>
					<a href="{{ path('security.login') }}">Connexion
					</a>
				</li>
			{% endif %}
			<li>
				<a href="{{ path('home.qsn') }}">Qui sommes-nous ?</a>
			</li>
			<li>
				<a href="{{ path('contact.index') }}">Contact</a>
			</li>
		</ul>
		<ul class="col">
			<li class="titre-col-footer">Juridique</li>
			<li>
				<a href="#">Termes et conditions d'utilisation</a>
			</li>
			<li>
				<a href="#">Politique de confidentialité</a>
			</li>
		</ul>
	</div>
	<span>
		<p>&copy;Fink_2023</p>
	</span>
</footer>
