{% extends 'base.html.twig' %}

{% block title %}Fink - Les salons
{% endblock %}

{% block body %}
	{% if not salons.items is same as([]) %}
	<div class="container-home">
		<section class="header-wrapper salon-wrapper">
			<h1>Rechercher un<br>tatoueur</h1>
			<div class="header-salon-search">
				<div>
					{% include "components/_search_data.html.twig" with {form:form} %}
				</div>
				<div class="filter-salon">
					{% include "components/_filter_salon.html.twig" %}
				</div>
			</div>
		</section>
			<section class="last-salon">
				<div class="last-salon-flex list-salon">
					{% for salon in salons %}
						{% if salon.isTrusted == true %}
							<div class="last-salon-item box">
								<img src="{{ vich_uploader_asset(salon, 'imageFile') }}">
								<h4>{{salon.nom}}</h4>
								<p>{{salon.ville}}</p>
								<p>{{salon.style}}</p>
								<a class="button" href="{{ path('salon.show', {id: salon.id}) }}">Découvrir</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</section>
		<div>
			{{ knp_pagination_render(salons) }}
		</div>
	{% else %}
		<div class="container-home">
			<section class="header-error">
				<h1>Rechercher un<br>tatoueur</h1>
				<div>
					{% include "components/_search_data.html.twig" with {form:form} %}
				</div>
				<div>
					{% include "components/_filter_salon.html.twig" %}
				</div>
			</section>
			<h4 class="h4-error">Il n'y a pas de salon correspondant actuellement</h4>
		</div>
	{% endif %}
	</div>
{% endblock %}
