{% extends 'base.html.twig' %}

{% block title %}Fink - Les salons
{% endblock %}

{% block body %}
	{% if not salons.items is same as([]) %}
	<div class="container-home">
		<section class="header-wrapper salon-wrapper">
			<h1>Rechercher un<br>tatoueur</h1>
			<div>
				{% include "components/_search_data.html.twig" with {form:form} %}
			</div>
		</section>
		<section class="last-salon">
			<div class="last-salon-flex list-salon">
				{% for salon in salons %}
					{% if salon.isTrusted == true %}
						<div class="last-salon-item box">
							<img src="{{asset(salon.image)}}">
							<h4>{{salon.nom}}</h4>
							<p>{{salon.ville}}</p>
							<p>{{salon.style}}</p>
							<a class="button" href="{{ path('salon.show', {id: salon.id}) }}">Voir plus</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</section>
		<div>
			{{ knp_pagination_render(salons) }}
		</div>
	{% else %}
		<div class="no-element">
			<img src="/images/global/rien-ici.jpg" class="">
			<h4>Il n'y a pas de salon actuellement</h4>
		</div>
	{% endif %}
	</div>
{% endblock %}
