{% extends 'base.html.twig' %}

{% block title %}Fink - Votre Recherche
{% endblock %}

{% block body %}
	{% if not salonsSearch.items is same as([]) %}
		<div class="title-page">
			<h1 class="title">Votre Recherche</h1>
		</div>

		<section class="last-salon">
			<div class="last-salon-flex list-salon">
			{% for salonSearch in salonsSearch %}
				{% if salonSearch.isTrusted == true %}
				<div class="last-salon-item box">
					<img src="{{ vich_uploader_asset(salonSearch, 'imageFile') }}">
					<h4>{{salonSearch.nom}}</h4>
					<p>{{salonSearch.ville}}</p>
					<p>{{salonSearch.style}}</p>
					<a class="button" href="{{ path('salon.show', {id: salonSearch.id}) }}">Découvrir</a>
				</div>
				{% endif %}
			{% endfor %}
			</div>
		</section>
	{% else %}
		<section class="salon-not-found box">
			<h4>Nous ne disposons pas de salon affilié dans cette ville.</h4>
			<a class="button" href="">Rechercher dans une autre ville ?</a>
		</section>
	{% endif %}
{% endblock %}
