{% extends 'base.html.twig' %}

{% block title %}Fink
{% endblock %}

{% block body %}
	<div class="container-home">
		<section class="header-wrapper">
			<h1>Trouve le tatoueur<br> de tes reves en 3 clics :</h1>
			<div class="example-wrapper">
				{% include "components/_search_data.html.twig" with {form:form} %}
			</div>
		</section>
		<section class="how-to-home mt-100">

			<div class="how-to-box">
				<div class="how-to-text">
					<h3>Comment ça<br>
						fonctionne Fink ?</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra sapien quis mauris tincidunt, vel bibendum lorem mollis.<br>
						Aliquam vel aliquet velit, eget convallis magna. Maecenas vel massa nec magna semper pretium.<br>
						Donec rutrum arcu felis, vel consequat libero luctus in. Suspendisse vitae mi sed elit facilisis lobortis vel vel augue.
						<br>Nullam aliquet, quam ut malesuada fermentum, eros turpis placerat mi, sed tristique est arcu vitae est. Aenean vitae sapien vel tellus ultrices molestie.<br>
						Sed iaculis velit vel blandit interdum.</p>
					<a href="" class="button">Découvrez-nous !</a>
				</div>
				<div class="how-to-img">
					<img src="images/global/how-to-img.jpg" alt="Tatouage dos ange">
				</div>
				<div>
				</section>
				<section class="last-salon mt-100 mb-100">
					<h3>Nos derniers tatoueurs</h3>
					<div class="last-salon-flex">
						{% for salon in salons %}
							{% if salon.isTrusted == true %}
								<div class="last-salon-item box">
									<img src="{{ vich_uploader_asset(salon, 'imageFile') }}">
									<h4>{{salon.nom}}</h4>
									<p>{{salon.ville}}</p>
									<p>{{salon.style}}</p>
									<p>{{salon.description|slice(0, 100) ~ '...' }}</p>
									<a class="button" href="{{ path('salon.show', {id: salon.id}) }}">Le découvrir</a>
								</div>
							{% endif %}
						{% endfor %}
				</section>
				<section class="last-real mb-100">
					<h3>Les derniéres réalisations de nos tatoueurs</h3>
					<div class="carousel">
						<div class="carousel-container">
							<img src="/images/global/carou1.jpg" class="carousel-image active">
							<img src="/images/global/carou2.jpg" class="carousel-image">
							<img src="/images/global/carou3.jpg" class="carousel-image">
						</div>
						<div class="carousel-buttons">
							<button class="prev-button"></button>
							<button class="next-button"></button>
						</div>
					</div>
				</section>
				<section class="last-salon mt-70 mb-100">
					<h3>Nos derniers articles</h3>
					<div class="last-salon-flex">
						{% for article in articles %}
							<div class="last-salon-item box">
								<img src="{{ vich_uploader_asset(article, 'imageFile') }}">
								<h4>{{article.titre|slice(0, 30) ~ '...'}}</h4>
								<p>{{article.sujet|slice(0, 50) ~ '...'}}</p>
								{% autoescape false %}
									<p>{{article.contenu|slice(0, 50) ~ '...'}}</p>
								{% endautoescape %}
								<small>{{article.date|date('d/m/Y')}}</small>
								<a class="button" href="{{ path('blog.show', {id: article.id}) }}">Voir plus</a>
							</div>
						{% endfor %}
				</section>
{% endblock %}
