{% extends 'base.html.twig' %}

{% block title %}Fink - Vos réservations
{% endblock %}

{% block body %}
	{% if not reservations.items is same as([]) %}
	<div class="title-page">
		<h1 class="title">Les réservations pour mon(mes) salon(s)</h1>
	</div>

		<table class="table">
			<thead>
				<tr>
					<th>Salon</th>
					<th>Date</th>
					<th>Pourquoi ?</th>
					<th>Préférence</th>
					<th>Confirmé le rendez-vous ?</th>
				</tr>
			</thead>
			<tbody>
			{% for reservation in reservations %}
				<tr>
					<td>{{reservation.salon.nom}}</td>
					<td>{{reservation.date|date('d/m/Y')}}</td>
					<td>{{reservation.message}}</td>
					<td>{{reservation.preference}}</td>
					{% if reservation.isConfirmed == false %}
						<td><a class="button" href="{{path('reservation.confirm.salon',{id : reservation.id})}}">Confirmé ?</a></td>
					{% else %}
						<td>Confirmé</td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
			<div>
				{{ knp_pagination_render(reservations) }}
			</div>
		{% else %}
			<div class="no-element">
				<img src="/images/global/rien-ici.jpg" class="">
				<h4>Vous n'avez aucune réservation actuellement</h4>
			</div>
		{% endif %}
	{% endblock %}
