{% extends 'base.html.twig' %}

{% block title %}Fink - Blog
{% endblock %}

{% block body %}
	{% if not articles.items is same as([]) %}
		<div class="title-page">
				<h1>Nos articles</h1>
			<div>
				<h4>
					Découvrez nos
					{{ articles.getTotalItemCount }}
					articles
				</h4>
			</div>
		</div>
	
		<div class="container-blog">
			{% for article in articles %}
				<div class="articles box">
					<img src="{{asset(article.image)}}">
					<h4>{{article.titre}}</h4>
					<p>{{article.sujet}}</p>
					<div>
						<p>{{article.contenu|slice(0, 50) ~ '...' }}</p>
					</div>
					<small>{{article.date|date('d/m/Y')}}</small>
					<br>
					<a class="button" href="{{ path('blog.show', {id: article.id}) }}">Voir plus</a>
				</div>
			{% endfor %}
		</div>
		<div>
			{{ knp_pagination_render(articles) }}
		</div>
	{% else %}
		<h4>Il n'y a pas d'articles en ce moment</h4>
	{% endif %}
{% endblock %}
