{% extends 'base.html.twig' %}

{% block title %}Fink -
	{{article.titre}}
{% endblock %}

{% block body %}
	<div class="article">
		<img src="{{asset(article.image)}}">
		<div class="article-contenu box">
			<h4>{{article.titre}}</h4>
			<p class="sujet-article">{{article.sujet}}</p>
			<div>
				<p class="contenu-article">{{article.contenu}}</p>
			</div>
			<small>{{article.date|date('d/m/Y')}}</small>
		</div>
	</div>
{% endblock %}
