{% extends 'base.html.twig' %}

{% block title %}Fink -
	{{article.titre}}
{% endblock %}

{% block body %}
	<div class="article">
		<img src="{{ vich_uploader_asset(article, 'imageFile') }}">
		<div class="article-contenu box">
			<h4>{{article.titre}}</h4>
			<p class="sujet-article">{{article.sujet}}</p>
			<div>
				{% autoescape false %}
					<p class="contenu-article">{{article.contenu}}</p>	
				{% endautoescape %}
			</div>
			<small>{{article.date|date('d/m/Y')}}</small>
		</div>
	</div>
{% endblock %}
